extends ../layout

block content
  h1(id='articleHeader') Edit Articles
  form#xhrForm(method="post" action="/articles/#{articles.title}" enctype="application/x-www-form-urlencoded")
    each val, key in articles
      div.input
        span.label= key
        if key == 'title'
          - key= 'newTitle'
        input(type="hidden", name="_method", value="PUT")
        input(type="text", name=key, value=val)
    input(type="submit" value="Submit")
    //- make url title invisible
