h1(id='articleHeader') Articles

block content
  div
    each article in articles
      h1= 'title : ' +  article.title
      h2= 'body : ' + article.body
      h3= 'author : ' + article.author
      form(method="post" action="/articles/#{article.title}" enctype="application/x-www-form-urlencoded")
          input#methodOverwrite(type="hidden", name="_method", value="DELETE")
          input(type="submit" value="Delete")