extends ../layout


block content
    h1(id="articleHeader") Add an Article!
    form#xhrForm(method="post" action="/articles/" enctype="application/x-www-form-urlencoded")
      div.input
        span.label New Article
        br
        span.label Title
        br
        input#title(type="text", name='title')
        br
        span.label Body
        br
        input#body(type="text", name='body')
        br
        span.label Author
        br
        input#author(type="text", name='author')
        input(type="submit" value="Submit")